div.main {
  div.container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    > div {
      gap: 2rem;
      height: auto;
      align-items: start;
    }
  }

  aside {
    width: 20%;
    flex-shrink: 0;

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: var(--header-color);
    }

    nav {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      a {
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;
        text-decoration: inherit;
        display: flex;
        gap: 0.75rem;
        align-items: center;
        color: var(--text-color);

        &.active {
          background-color: var(--primary-color);
          color: white;
        }
      }
    }
  }

  main {
    outline: solid 1px blue;
    flex: 1 1 0%;
  }
}
